@{
    ViewData["Title"] = "LoginPage";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<body dir="rtl">
    <div class="container-fluid bg-white p-0 ">

        <!-- Start Spinner  -->
        @Html.Partial("_Spinner")
        <!-- End Spinner -->

    <!-- Start login -->
    <section class="ftco-section mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">ورود به سایت باشگاه</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <form action="#" class="signin-form">
                            <div class="form-group">
                                <input type="text" class="form-control mt-3" placeholder="نام کاربری" required>
                            </div>
                            <div class="form-group">
                                <input id="password-field" type="password" class="form-control mt-2" placeholder="رمز عبور" required>
                                <span toggle="#password-field" class="fa fa-eye field-icon eye-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary BTN-PANEL submit px-3">ورود</button>
                            </div>
                            <div class="form-group d-flex  mt-2">
                                <div class="d-flex">
                                    <label class="checkbox-wrap checkbox-primary">به خاطر سپردن
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 mx-4">
                                    <a href="#" style="color: #F0F8FF">رمز عبورم را فراموش کردم!!!</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end login -->

    <!-- start Contact -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="bg-light rounded p-3">
                    <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                        <div class="row g-5 align-items-center">
                            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                                <img class="img-fluid rounded w-100" src="/img/call-to-action.jpg" alt="Contact Support">
                            </div>
                            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                                <div class="mb-4">
                                    <h1 class="mb-3">تماس با پشتیبانی</h1>
                                    <p>برای ارتباط با مشاوران و تیم ما</p>
                                </div>
                                <a href="#" class="btn btn-primary BTN-PANEL py-3 px-4 me-2">
                                    <i class="fa fa-phone-alt me-2"></i>تماس تلفنی
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Contact -->
</body>

</html>